:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #212121;
    --secondary-text-color-theme-light: #ffffff;
    --primary-text-color-theme-gray: #757575;
    --secondary-text-color-theme-dark: #2F303A;
    --accent-color: #2196F3;
    --secondary-color: #F5F4FA;
    --secondary-color-light: #FFFFFF;
    --secondary-color-with: #EEEEEE;
    --secondary-color-dark: #000000;
    --color-bgc: #188CE8;
}



.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.menu-link.current {
    color: var(--accent-color);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


img {
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

body {
    font-family: var(--primary-font);
    background: var(--secondary-text-color-theme-light);
    color: var(--primary-text-color-theme-dark);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* =========== HEADER =========== */

.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
}


.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-color-dark);
    margin-right: 93px;
}

.logo-header-part1 {
    color: var(--accent-color);
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}


.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact-mail {
    margin-right: 50px;
}

.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-color);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color);
}

.contact-mail,
.contact-phone-number {
    color: var(--primary-text-color-theme-gray);

}

/* =========== /HEADER =========== */

/* =========== MAIN =========== */

.page-main {}

/* =========== SHAPKA ===========*/
.section-shapka {
    background: var(--secondary-text-color-theme-dark);
}

.section-shapka-container{
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    flex-wrap: wrap;
    flex-direction: column; 
}

.section-shapka-h {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-light);
    margin-bottom: 30px;
    height: 120px;
    width: 696px;
    left: 452px;
    top: 280px;
    border-radius: 0px;
    
}

.osoblivosti-card {
    flex-basis: calc((100% - 90px) / 4);
}
.section-modal-open-btn {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    height: 50px;
    width: 216px;
    left: 692px;
    top: 430px;
}

.section-modal-open-btn:hover,
.section-modal-open-btn:focus {
    background-color: var(--color-bgc);
}

.btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color-theme-light);
    margin-left: 32px;
}

/* =========== /SHAPKA ===========*/

/* =========== OSOBLIVOSTI ===========*/

.section-osoblivosti {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    display: flex;
    align-items: center;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.osoblivosti-container{
    gap: 30px;
}

.section-osoblivosti-h {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(primary-text-color-theme-dark);
    margin-bottom: 10px;
}

.section-osoblivosti-p {
    line-height: 1.71;
    color: var(--primary-text-color-theme-gray);
}

.section-osoblivosti-container {}


/* =========== /OSOBLIVOSTI ===========*/

/* =========== WORK ===========*/
.work {}

.work-container{
    padding-bottom: 94px;
}

.work-list {
    flex-wrap: wrap;
    gap: 30px;
}

.work-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 50px;
}
/* =========== /WORK ===========*/

/* =========== COMANDA ===========*/
.comanda {
    background: var(--secondary-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.comanda-list {
    flex-wrap: wrap;
    gap: 30px;
}

.comanda-container {}

.comanda-our {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.comanda-fon {
    background: var(--secondary-text-color-theme-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.comanda-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.comanda-profesion{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-text-color-theme-gray);
    margin-bottom: 30px;
}
/* =========== /COMANDA ===========*/

/* =========== PORTFOLIO  ===========*/

/* =========== PORTFOLIO-FILTERS ===========*/
.section-portfolio {}

.portfolio-filters {
    width: 570px;
    height: 54px;
}

.container-filters {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 94px;
    padding-left: 300px;
    padding-right: 300px;
    
}

.filters {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    align-items: center;
    color: var(--primary-text-color-theme-dark);
    
}

.filters:active,
.filters:hover,
.filters:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color-theme-light);
}

/* =========== /PORTFOLIO-FILTERS ===========*/

/* =========== PORTFOLIO-PROJECTS ===========*/

.container-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
    padding-bottom: 94px;
    
}

.portfolio-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-dark);
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color-theme-gray);
    margin-bottom: 20px;
    margin-left: 24px;
}

.portfolio-box {
    background: var(--secondary-color-light);
    border: 1px solid var(--secondary-color-with);
    flex-basis: calc((100% - 60px) / 3);
    
}

/* =========== /PORTFOLIO-PROJECTS ===========*/

/* =========== /PORTFOLIO  ===========*/



/* =========== /MAIN =========== */

/* =========== FOOTER ===========*/

.page-footer {
    background: var(--secondary-text-color-theme-dark);
}

.page-footer-container {
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-text-color-theme-light);
    width: 145px;
    height: 31px;
    left: 215px;
    top: 1688px;
}

.logo-footer-part1 {
    color: var(--accent-color);
}

.footer-contact {
    line-height: 1.71;
    font-style: normal; 
}

.contact-container {
    padding-top: 20px;
}

.contact-menu {}

.contact-menu-map {
    color: var(--secondary-text-color-theme-light);
    
}

.contact-menu-mail{
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid var(--secondary-color-dark);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

    

.contact-menu-tel {
    color: rgba(255, 255, 255, 0.6);
}

.contact-menu-map:hover,
.contact-menu-map:focus {
    color: var(--accent-color);
}


.contact-menu-mail:hover,
.contact-menu-mail:focus {
    color: var(--accent-color);
}

.contact-menu-tel:hover,
.contact-menu-tel:focus {
    color: var(--accent-color);
}
/* =========== /FOOTER ===========*/